h1 {
    position: relative;
    text-align: center;
    color: rgb(128, 128, 128);
    font-weight:bold;
    font-family:Courier, monospace;
    margin-bottom: 1rem;
}


h2 {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    color: black;
    font-weight:bold;
    font-family:Courier, monospace;
}

.head {
    position: relative;
    display:absolute;

}

h3 {
    width: 100%;
    font-size: 1.875rem;
    font-family: Courier, monospace;
    font-weight: bold;
    color: black;
    text-align: center;
}

body{
    background-color: rgb(204, 204, 204);
    height: 100vh;
}

.loginbox{
    width: 320px;
    min-height: 24rem;
    background: rgb(140, 140, 140);
    color: rgb(140, 140, 140); 
    left: 51%; 
    position: relative;
    top: 15rem;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 1.875rem 2.5rem;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 8px 10px rgba(0,0,0,0.45);
    margin-bottom: 8rem;
}


.loginbox label{
    position: relative;
    text-align: center;
    font-size:1.25rem;
    font-family: Courier, monospace;
    width: 100%;
    top: 0.625rem;
    color: black;
    font-weight: bold;
    margin-bottom: 1.25rem;
    height: -20px;
    transition: all 0.2s ease-in-out;
}
.user {
    text-align: center;
    max-width: 10rem;
    position:relative;
    left: 2.50rem;
    border-bottom: 1px solid;
    font-family:Courier, monospace;
    background: rgb(166, 166, 166);
    font-weight: bold;
    outline: none;
    outline-color: black;
    height: 40px;
    color: black;
    font-size: 1.25rem;
    border-radius: 20px;
}
.pasw {   
    text-align: center;
    border-bottom: 1px solid;
    position: relative;
    outline: none;
    outline-color: black;
    height: 40px;
    background: rgb(166, 166, 166);
    color: black;
    font-size: 1.125rem;
    border-radius: 20px;
}
.loginbox button
{   border-radius: 20px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 8px 10px rgba(0,0,0,0.45);
    position: relative;
    width: 140px;
    left: 20px;
    line-height: 25px;
    text-align: center;
    margin: 1.875rem;
    background-color: rgb(255, 204, 102);
    border-color: rgb(255, 204, 102);
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Courier, monospace;
}

.loginbox button:hover{
    background-color: rgb(200, 150, 50);
    border-color: rgb(200, 150, 50);
}

.teacher {
    position: flex;
    margin-right: 1rem;

}

.teach {
    color: black;
    position: relative;
    font-size: 1.125rem;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 8px 10px rgba(0,0,0,0.45);
    margin: 2rem;
    border-color: rgb(153, 153, 153);
    font-weight: bold;
    background:rgb(140, 140, 140);
    font-family: Courier, monospace;
}

.teach:hover {
    background: rgb(89, 89, 89);
}

.foot {
    margin-top: 10rem;
    background-color: rgb(191, 191, 191);
    color: rgb(89, 89, 89);
    padding-left: 1.5rem;
}

