<body>
    <div class="row teacher">
        <button (click)="Teacher()"  class="btn btn-primary teach">Είσοδος Εξεταστή<i class="fas fa-sign-in-alt"></i></button>
    </div>
    <div class="col head">
        <h1>Online Πλατφόρμα<br>Εξέτασης Προγραμματισμού</h1>
    </div>
    <div class="col head">
        <h2>Μέναιχμος</h2>
    </div>
    <div class="row loginbox">
        <h3>LogIn<br>Εξεταζόμενων</h3>
        <form (submit)="loginT()" action="#">
            <div class="form-group">
                <label for="">Εισάγετε AM</label>
                <input [(ngModel)]="AM" name="AM" type="username" class="col-md mx-auto user">
                <label class="label2">Κωδικός Πρόσβασης</label>
                <input [(ngModel)]="unique_id" name="unique_id" type="password" class="col-md mx-auto pasw">
            </div>
            <button (click)="loginT()"  class="btn btn-primary">Είσοδος<i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
    <footer class="text-lg-start bg-light text-muted">
        <div class="foot">
            © 2021 Πέτρος Αντωνίου
        </div>
    </footer>
</body>
