.head{
    background-color: rgb(140, 140, 140);
    position: fixed;
    width: 100%;
    display: flex;
    z-index:1;
}

h1 {
    position: relative;
    float: left;
    color: black;
    font-family: Courier, monospace;
    font-weight:bold;
    font-style: italic;
    margin: 1rem;
    cursor: default;
}

.pull-right{
    margin: 1rem;
    background-color: rgb(178,59,59);
    border-color: rgb(107,29,29);
    font-family: Courier, monospace;
    font-weight:bold;
    font-size: 1.125rem;
    position: relative;
}

.pull-right:hover{
    background-color: rgb(200,29,29);
    color: black;
}

.pull-left:focus {
   box-shadow: none; 

}

.sort {
    margin-left: 1rem;
}

.sort:hover {
    color: white;
}

.sort:active{
    opacity: 50%;
    border-radius: 50%;
}
