<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="col-md head">
    <button (click)="toggleSidebar()" class="btn pull-left sbar"><mat-icon class="sort">sort</mat-icon></button>
    <a routerLink="/home"><h1>Μέναιχμος</h1></a>
</div>
<app-sidebar [@slideInOut]="sidebarState" [show]="sidebarState"></app-sidebar>
