@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';
@import '~@angular/cdk/overlay-prebuilt.css';

html,body {
    background: rgb(204, 204, 204) !important;
    min-height: 100%;
}

.dialog .mat-dialog {
    padding: 1.875rem;
    justify-content: center;
    display: flex;
    background-color:  rgb(166, 166, 166);
    flex-direction: row;
    z-index: 1;
}

.dialog .mat-dialog-actions{
    justify-content: flex-end;
}

.dialog .mat-dialog-container {
    background-color:  rgb(166, 166, 166);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    position: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 8px 10px rgba(0,0,0,0.45);
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.placeholder {
    color: white !important;
    font-family: Courier, monospace;
}

.mat-chip.mat-standard-chip.mat-focus-indicator {
    border-radius: 8px;
    color: white;
    background: rgb(45, 89, 134);
    font-family: Courier, monospace;
}

.mat-icon {
    color: black;
}

.cdk-visually-hidden{
    opacity: 0;
    right: 70px !important;
}

.mat-checkbox-label{
    cursor: default;
    font-family: Courier, monospace;
    font-size: 1.25rem;

}

.mat-checkbox-input {
    position: relative;
    height: 10rem;
    color:black;
    width: 20rem;
    cursor: pointer;
    bottom: 200% !important;
}

.mat-checkbox-background {
    background: rgb(128, 128, 128) !important;
}

.mat-checkbox-inner-container {
    color: black;
    cursor: default;
    width: 30px !important;
    height: 30px !important;
    background:  rgb(153, 153, 153);
}

.CodeMirror {
    min-height:34rem;
    margin-bottom: 0.3rem;
    width: 100%;
}

.CodeMirror-gutters {

}
/*:host .p[_ngcontent-c0] {
text-align: center;
font-size: 100px;
color: white;
align-self: false;
margin-top: 10px;
}*/
