.btn {
    box-shadow: none;
}

.te{
    position: relative;
    transition: all 400ms ease-in-out;
}

#b {
    padding-top: 5rem;
    transition: all 200ms ease-in-out;
    margin: 0;
    position: relative;
}

.det {
    margin: 0.3rem;
}

.btns {
    float: right;
}

mark {
    background: inherit;
    color: rgb(153, 0, 0);
    text-shadow: 1px 1px black;
}

.detail {
    margin: 0.3rem;
    cursor: default;
    text-align: center;
    color: black;
    padding-left: 0.5rem;
}

.delete{
    background-color: rgb(198,40,40);
    font-family: Courier, monospace;
    font-weight:bold;
    font-size: 1rem;
    position: relative;
    color: white;
}

.delete:hover{
    background-color: rgb(148,40,40);
}

.selall {
    margin: 1rem;
    background-color:rgb(0, 102, 204);
    border-color: rgb(51, 102, 204);
    font-family: Courier, monospace;
    font-weight:bold;
    color: white;
    font-size: 1rem;
    position: relative;
    float: left;
}

.selall:hover {
    background-color: rgb(0, 64, 128);
}


.epiloges{
    margin: 1rem;
    background-color:rgb(0, 102, 204);
    border-color: rgb(51, 102, 204);
    font-family: Courier, monospace;
    font-weight:bold;
    font-size: 1rem;
    position: relative;
    color: white;
}

.epiloges:hover{
    background-color: rgb(0, 64, 128);
}
.epilog {
    background: rgb(204, 204, 204);
    font-size: 1.2rem;
    font-family: Courier, monospace;
    font-weight:bold;

}

.thetest {
    position: relative;
    width: 24rem;
    display: flex;
    text-align: center;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.45);
    border-radius: 14px;
    background: rgb(166, 166, 166);
    padding: 0.5rem;
    margin: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-family: Courier, monospace;
    font-weight:bold;
    color: #fff;
    transition: 0.3s;
}

.thetest:hover {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.36), 0 10px 12px rgba(0,0,0,0.85);
}

.alltest:empty {
    display:none;
}
