<app-header (newItemEvent)="Side($event)"></app-header>
<div id="b" [ngStyle]="{'padding-left':(show_side) ? '14.5rem':'7rem'}" class="row">
    <div class="container">
        <div class="col-md">
            <button (click)="Selall()" class="btn selall">Επιλογή Όλων</button>
        </div>
        <div class="d-inline-block btns">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn epiloges" ngbDropdownToggle>Επιλογές</button>
                <div class="dropdown-menu epilog" ngbDropdownMenu>
                    <button (click)="SendMail()" ngbDropdownItem class="ep">Αποστολή Κωδικών Πρόσβασης</button>
                    <button (click)="ShowSel()" ngbDropdownItem class="ep">Εμφάνιση Εξέτασης</button>
                    <button (click)="GetRes()" ngbDropdownItem class="ep">Download Αποτελέσματα</button>
                    <button (click)="GetTests()" ngbDropdownItem class="ep">Download Απαντήσεις Εξεταζόμενων</button>
                </div>
            </div>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn delete" ngbDropdownToggle>Επιλογές Διαγραφής</button>
                <div class="dropdown-menu epilog de" ngbDropdownMenu>
                    <button (click)="DeleteSelected()" ngbDropdownItem class="dia">Διαγραφή Επιλεγμένου/ων</button>
                    <button (click)="DeleteExam()" ngbDropdownItem class="dia">Διαγραφή Όλων των Εξετάσεων</button>
                    <button (click)="DeleteAll()" ngbDropdownItem class="dia">Διαγραφή Όλων</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div [ngStyle]="{'padding-left':(show_side) ? '14.5rem':'7rem'}" class="row te">
        <div class="col alltest" *ngFor="let test of the_tests; let i = index;">
            <div class="col-md mx-auto thetest" *ngIf="test.exam_name"> 
                <mat-checkbox class="example-margin"
                              [checked]="test.checked"
                              (change)="onClick($event, i, test)"
                              >
                              <div class="row">
                                  <div class="col-md mx-auto detail">
                                      <p class="det"><mark>Όνομα Εξέτασης:</mark>
                                      <br>{{test.exam_name}}</p>
                                      <p class="det"><mark>Τύπος Εξέτασης:</mark>
                                      <br>{{test.exam_type}}</p>
                                      <p class="det"><mark>Αριθμός Εξεταζόμενων: </mark>{{test.count}}</p>
                                      <p class="det"><mark>Τελείωσαν όλοι: </mark>{{finished[i]}}</p>
                                      <p class="det"><mark>Προστέθηκε: </mark>{{test.date | date : "MMM d, H:mm" }}</p>
                                  </div>
                              </div>
                </mat-checkbox>
            </div>
        </div>
    </div>
</div>
