<perfect-scrollbar style="max-width:95%;border-radius:12px;margin:15px;backgroung-color:#cccccc;" >
    <div class="row">
        <div class="col-md thetest">
            <!--div class="doctest" *ngFor="let doctest of get_test">
                {{ doctest }}
            </div-->
            <div class="col-md mx-auto doctest" [innerHTML]="get_test"></div>
        </div>
    </div>
</perfect-scrollbar>
