:host {
  background: rgb(140, 140, 140);
  color: black;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 50%;
  padding-right: 1rem;
  z-index: 9999;
  font-family: Courier, monospace;
  font-size: 1.125rem;
  text-align: center;
  white-space: pre-line;
}


:host ::ng-deep .doctest img {
    max-width: 100%;
}

.doctest {
    max-width: 100%;
    background: #cccccc;
    margin-right: 1rem;
    border-radius: 12px;
    position: relative;
    font-weight: bold;
}



