.err {
    background: rgb(166, 166, 166);
    color: black;
    text-align: center;
    font-family: Andale Mono, monospace;
    font-size: 1.5rem;
    font-width: bold;
}

.btn1{
    position: relative;
    width: 90px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    color: black;
    background-color: rgb(0, 143, 0);
    border-color: rgb(0, 143, 0);
}

.btn1:hover {
    background-color: rgb(0, 200, 0);
    color: white;
}

.btn2{
    position: relative;
    width: 90px;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    color: black;
    background-color: rgb(178,59,59);
    border-color:  rgb(107,29,29);
}

.btn2:hover {
    background-color: rgb(200,29,29);
    color: white;
}

