<div>
    <div class="col-md err">
        {{ data.detail | json }}
        <div class ="col-md but" *ngIf="data.detail == 'Τα αποτελέσματα εξόδου που προκύπτουν από τον κώδικά σου είναι λανθασμένα. Είσαι σίγουρος οτι θέλεις να υποβάλεις τον κώδικά σου?' || data.detail == 'Kάτι πήγε στραβά. Είσαι σίγουρος οτι θέλεις να υποβάλεις τον κώδικά σου?'">
            <button (click)="Yes()"class="btn btn1" mat-dialog-close >Ναι</button>
            <button class="btn btn2" mat-dialog-close >Οχι</button>
        </div>
    </div>
</div>
