:host {
    background: rgb(140, 140, 140);
    color: black;
    position: fixed;
    overflow-x: hidden;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    margin-top: 4rem;
    z-index: 1;
    font-family: Courier, monospace;
    font-size: 1.125rem;
    text-align: center;
    overflow-x: hidden;
}

.row {
    display: block;
}
#nav_bar {
    background-color: rgb(140, 140, 140);
}

.homeic {
    float:right;
    margin-top: 2rem;
    padding-left: 0.3rem;
    margin-right: 1.8rem;
    color: black;
    text-decoration: none;
}

.homeic0 {
    float:left;
    margin-top: 2rem;
    margin-left: 1rem;
    color: black;
    text-decoration: none;
}

.homeic0:hover {
    color: white;
}

.logout {
    float:left;
    margin-left: 0.5rem;
    cursor: pointer;
}

.logout:hover {
    color: white;
}

.detout {
    color: black;
    font-size: 0.75rem;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    font-weight:bold;
    text-align: center;
    cursor: pointer;
}
.out{
    margin-top: 2.5rem;
}

.detout:hover {
    color: white;
}

a {
    text-decoration: none;
}

.logou {
    border: none;
    background: rgb(140, 140, 140);
}

.det {
    color: black;
    font-size: 0.75rem;
    text-decoration: none;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    font-weight:bold;
    text-align: center;
}

.det:hover {
    color:white;
}

.home{
    color: black;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 2rem;
    position: relative;
    font-family: Courier, monospace;
    font-weight:bold;
    float: left;
}

.home:hover{
    color: white;
}

.pull-right{
    margin: 1rem;
    background-color: rgb(178,59,59);
    border-color: rgb(107,29,29);
    font-family: Courier, monospace;
    font-weight:bold;
    font-size: 1.125rem;
    position: relative;
}

.pull-right:hover{
    background-color: rgb(200,29,29);
    color: black;
}

.pull-left:focus {
    box-shadow: none; 

}
