<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <nav id="nav_bar">
        <div *ngIf="show==='in'">
            <div class="row">
                <a routerLink="/home"><mat-icon class="homeic0">home</mat-icon><p class="home">Αρχική Σελίδα</p></a>
            </div>
            <div class="row">
                <a routerLink="/addexam"><mat-icon class="homeic0">queue</mat-icon><p class="home">Νέα Εξέταση</p></a>
            </div>
            <button (click)="Logout()" class="btn pull-right">Έξοδος</button>
        </div>
        <div *ngIf="show==='out'">
            <div class="col">
                <a routerLink="/home"><mat-icon class="homeic">home</mat-icon><p class="det">Αρχ. Σελίδα</p></a>
            </div>
            <div class="col">
                <a routerLink="/addexam"><mat-icon class="homeic">add_box</mat-icon><p class="det">Νέα Έξεταση</p></a>
            </div>
            <div class="col out">
                <button (click)="Logout()" class="logou"><mat-icon class="logout">exit_to_app</mat-icon><p class="detout">Έξοδος</p></button>
            </div>
        </div>
    </nav>
</div>
