<div class="page">
    <div class="row">
        <div class="col-md mx-auto">
            <h3 *ngIf="ispass === 'Επιτυχή Αποτελέσματα'">
                <mark class="Text">{{ispass}}</mark>
            </h3>
            <h3 *ngIf="ispass === 'Λανθασμένα Αποτελέσματα'">
                <mark class="Text1">{{ispass}}</mark>
            </h3>
            <br>
            <h3 class="choose">Επέλεξε την επόμενη εξέταση στην Αρχική Σελίδα</h3>
            <div class="col-md mx-auto hm">
                <button routerLink="/home" (click)="Home()" class="btn home">Αρχική Σελίδα</button>
            </div>
            <br><h3> Ή Αποσυνδέσου</h3>
            <div class="col-md mx-auto hm">
                <button (click)="Logout()" class="btn btnout">Έξοδος</button>
            </div>
        </div>
    </div>
</div>
