.page {
    width:100%;
    background-color: rgb(204, 204, 204); 
}

.row {
    margin: 0;
}

h3 {
    position: relative;
    font-size: 3.375rem;
    margin-top: 10rem;
    color: black;
    color-background: black;
    font-width: bold;
    text-shadow: 1px 1px black;
    text-align:center;
    font-family: Courier, monospace;

}

.choose {
    margin-top: 1rem;



}

.Text {
    bottom: 1rem;
    background: green;

}

.Text1 {
    bottom: 1rem;
    background: red;
}

.hm {
    justify-content: center;
    display: flex;
    top: 12%;
}

.home {
    background-color:rgb(0, 102, 204);
    border-color: rgb(51, 102, 204);
    font-family: Courier, monospace;
    font-weight:bold;
    color: black;
    font-size: 2rem;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.45);
}

.home:hover {
    color: white;
    background-color: rgb(0, 64, 128);
}

.btnout{
    background-color: rgb(178,59,59);
    border-color: rgb(107,29,29);
    font-family: Courier, monospace;
    font-weight:bold;
    font-size: 2rem;
    position: relative;
    margin-bottom: 2rem;
    z-index: 1;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.45);
}

.btnout:hover{
     background-color: rgb(200,29,29);
     color: white;
}

