@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import '~@angular/cdk/overlay-prebuilt.css';

html,body  {
    background: rgb(204, 204, 204);
}

.dialog .mat-dialog {
    padding: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    z-index: 1; 
}

.dialog .mat-dialog-actions{
    justify-content: flex-end;
}

.dialog .mat-dialog-container {
    background-color:  rgb(166, 166, 166);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #666666;
    text-align: center;
    font-weight: bold;
    padding: 2rem;
    font-size: 1rem;
    position: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 8px 10px rgba(0,0,0,0.45);
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.placeholder {
    color: white !important;
    font-family: Courier, monospace;
}

.mat-chip.mat-standard-chip.mat-focus-indicator {
    border-radius: 8px;
    color: white;
    background: rgb(45, 89, 134);
    font-family: Courier, monospace;
}

.mat-chip-remove {
    color: black;
    border-radius: 50%;
    text-indent: -9999px;
    background: red;
}
.cdk-visually-hidden{
    opacity: 0;
    right: 70px !important;
}


.mat-checkbox-label{
    cursor: default;
}

.mat-checkbox-input {

    color: black;
    position: relative;
    height: 10rem;
    width: 20rem;
    cursor: pointer;
    bottom: 200% !important;
}

.mat-checkbox-inner-container {
    cursor: default;
    color: #666666; 
    width: 30px !important;
    height: 30px !important;
    background: rgb(153, 153, 153);
}

.mat-snack-bar-container {
    z-index: 1;
    color: black;
    font-family: Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 3rem;
    border-radius: 18px;
    max-height: 6rem;
    padding: 2rem !important;
    background: rgb(140, 140, 140); 
    box-shadow: inset 0 6px 6px rgba(0,0,0,0.16), 0 8px 10px rgba(0,0,0,0.45);
    position: relative;
}


