<body>
    <div class="col head">
        <h1>Online Πλατφόρμα<br>Εξέτασης Προγραμματισμού</h1>
    </div>
    <div class="col head">
        <h2>Μέναιχμος</h2>
    </div>
    <div class="row loginbox">
        <h3>LogIn Εξεταστή</h3>
        <form (submit)="teacherlogin()" action="#">
            <div class="form-group">
                <label for="Username">Όνομα χρήστη</label>
                <input [(ngModel)]="Username" name="Username" type="username">
                <label for="Password">Κωδικός Πρόσβασης</label>
                <input [(ngModel)]="Password" name="Password" type="password">
            </div>

            <button (click)="teacherlogin()" class="btn btn-primary">Είσοδος<i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
    <footer class="text-lg-start bg-light text-muted">
        <div class="foot">
            © 2021 Πέτρος Αντωνίου
        </div>
    </footer>
</body>
