h1 {
    position: relative;
    text-align: center;
    margin-top: 5rem;
    color: rgb(128, 128, 128);
    font-weight:bold;
    font-family:Courier, monospace;
    margin-bottom: 1rem;
}

h2 {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    color: black;
    font-weight:bold;
    font-family:Courier, monospace;
}

h3 {
    width: 100%;
    font-size: 30px;
    font-family:Courier, monospace;
    font-weight: bold;
    color: black;
    margin-top: -1rem;
    text-align: center;
}

.head {
    position: relative;
    display:absolute;
}

.loginbox{
    width: 320px;
    min-height: 23rem;
    background: rgb(140, 140, 140);
    color:  rgb(140, 140, 140);
    left: 50.7%;
    position: relative;
    top: 15rem;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 2.5rem;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 8px 10px rgba(0,0,0,0.45);
}

.loginbox label{
    position: relative;
    text-align: center;
    font-size:20px;
    font-family: Courier, monospace;
    width: 100%;
    top: 1rem;
    color:black;
    margin-bottom: 20px;
    height: -20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.loginbox [type="username"]{
    right: 0.8rem;
    width: 15rem;
    text-align: center;
    position:relative;
    border-bottom: 1px solid;
    font-family:Courier, monospace;
    font-weight: bold;
    background: rgb(166, 166, 166);
    outline: none;
    outline-color: black;
    height: 40px;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox [type="password"] {   
    right: 0.8rem;
    width: 15rem;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid;
    position: relative;
    outline: none;
    outline-color: black;
    height: 40px;
    background: rgb(166, 166, 166);
    color: black;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox button
{   border-radius: 20px;
    position: relative;
    width: 140px;
    left: 10px;
    line-height: 25px;
    text-align: center;
    margin: 30px;
    background-color: rgb(255, 204, 102);
    border-color: rgb(255, 204, 102);
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Courier, monospace;
}

.loginbox button:hover{
    background-color: rgb(200, 150, 50);
    border-color: rgb(200, 150, 50);
}

.foot {
    margin-top: 10rem;
    background-color: rgb(191, 191, 191);
    color: rgb(89, 89, 89);
    padding-left: 1.5rem;
}
