body {
    transition: all 200ms ease-in-out;
    padding-top: 5rem;
}

ngx-file-drag-drop {
    height: 120px;
}

.scrollbar-1 {
    overflow: auto;
    max-height: 24rem;
    padding: -2rem;
    position: relative;
    margin: auto;
    color: black;
    overflow-x: hidden;
    max-width: 50rem;
}

.type {
    font-size: 1.25rem;
    font-family:  Courier, monospace;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 0.5rem;
    margin-top: 0.5rem;
}

.type1 {
    background: rgb(204, 204, 204); 
    border-radius: 12px;
    padding: 0.5rem;
    color: black;
    margin-top: 0.5rem;
    max-width: 24rem;

}

.types {
    background: rgb(166, 166, 166);
    color: black;
    text-align: center;
    font-family:  Courier, monospace;
    font-weight: bold;
}
.button{
    padding: 0 6px 0 6px;
    margin: 25px;
    width: 50%;
    color: black;
    background-color: rgb(128, 128, 128); 
    border-color:  rgb(38, 50, 56);
    height: 5%;
    border-radius: 12px;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    outline: none;
    font-family: Courier, monospace;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    font-weight: bold;
}

.button:hover {
    background-color: rgb(77, 77, 77);
    border-radius: 12px;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border: 1px solid rgb(255, 204, 102);
    text-decoration: none;
}

.say {
    color:black;
    font-weight: bold;
    font-family:  Courier, monospace;
    text-align: center;
    margin: 5px;
    margin-bottom: -15px;
    padding: 10px;
    font-size: 1.25rem;
}

.say1 {
    color:black;
    font-weight: bold;
    font-family:  Courier, monospace;
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}

.say2 {
    color:black;
    font-weight: bold;
    font-family:  Courier, monospace;
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}
.drop {
    width: 80%;
    height: 100%;
    position: relative;
    background: rgb(140, 140, 140);
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 1rem;
    margin: 2.5rem;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);

}

.theam {
    font-size: 1.125rem;
    text-align: center;
    font-family:  Courier, monospace;
    font-weight: bold;
    padding: 0.3rem;
    position: relative;
    margin: -1px;
}

.name{
    position: relative;
    font-size: 20px;
    margin: 10px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-family: Courier, monospace;
    font-weight: bold;
}

.name2{
    position: relative;
    color: black;
    font-size: 17px;
    text-align: center;
    font-family: Courier, monospace;
}

.example {
    font-size: 1.075rem;
    font-family: Courier, monospace;
    font-weight: bold;
    text-align: justify;
    border-radius: 12px;
    white-space: pre-line;
    border: solid 2px rgb(0, 92, 153);
    color: black;
    background: rgb(0, 92, 153);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    padding: 0.6rem;
    padding-left: 0.3rm;
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.editor {
    padding: 1px;
    margin :15px;
    background-color: white;
    color: black;
    font-size: 20px;
    text-align: left;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

