<app-header (newItemEvent)="Side($event)"></app-header>
<body [ngStyle]="{'padding-left':(show_side) ? '14.5rem':'5rem'}">
    <div class="col-md-8 mx-auto drop">
        <p class="name">Εισάγετε όνομα εξέτασης</p>
        <input class="name2" matInput placeholder="Enter Exam Name..." [(ngModel)]="exam_name">
        <div class="col-md-8 mx-auto type" >
            <p class="name">Επιλέξτε τύπο εξέτασης</p>
            <mat-select class="type1" placeholder="Select Type..." [(value)]="sel_exam_type"> 
                <mat-option *ngFor="let type of examtypes" [value]="type.value" class="types">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </div>

        <p class="say2">Εισάγετε τα ΑΜ και Email υπό μορφή αρχείου .txt</p>
        <ngx-file-drag-drop  activeBorderColor="rgb(46, 89, 134)" (valueChanged)="onValueChange($event)" type="file" id="file" emptyPlaceholder='Drop the file with the AM and Email . . .' required  > </ngx-file-drag-drop>
        <div class="scrollbar-1">
            <div class="row" style="color:black;" *ngIf="show">
                <div class="col-md-2 theam" *ngFor="let am of tempam">
                    {{am}}
                </div>
            </div>
        </div>

        <p class="say">Προσθέστε Εκφώνηση στην Εξέταση(Μπορείτε να εισάγετε και είκονες υπό μορφή αρχείου .jpg)</p>        
        <div class="col-md editor">
            <quill-editor 
             [(ngModel)]="theTest"
             [modules]="quillModules"
             [placeholder]="'Enter text here...'">
            </quill-editor>
        </div>


        <div *ngIf='sel_exam_type === "exam-0"'>
            <div class="row">
                <div class="col-md mx-auto drest">
                    <p class="say1">Με οποιαδήποτε σειρά</p>
                    <p class="say1">Εισάγετε τον εκτελέσιμο κώδικα της εξέτασης υπό μορφή αρχείου .cpp</p>

                    <p class="say1">Εισάγετε τα αποτελέσματα εξόδου που θα πρέπει να έχουν οι εξεταζόμενοι υπό μορφή αρχείου .txt</p>
                    <p class="example">{{examplein5}}</p>
                    <p class="example">{{examplein0}}</p>
                    <ngx-file-drag-drop  activeBorderColor= "rgb(45, 89, 134)" (valueChanged)="onFileSelected($event)" type="file" id="file" [multiple]="true" emptyPlaceholder='Drop or Select File . . .' required> </ngx-file-drag-drop>
                </div>
            </div>
        </div>


        <div *ngIf='sel_exam_type === "exam-1"'>
            <div class="row">
                <div class="col-md mx-auto drest">
                    <p class="say1">Με οποιαδήποτε σειρά</p>
                    <p class="say1">Εισάγετε τα δεδομένα του αρχείου της εξέτασης υπό μορφή αρχείου .txt</p>
                    <p class="say1">Εισάγετε τον κώδικα για την προσπέλαση του αρχείου, η μορφή του αρχείου θα είναι .cpp</p>
                    <p class="say1">Εισάγετε τα αποτελέσματα εξόδου που θα πρέπει να έχουν οι εξεταζόμενοι υπό μορφή αρχείου και Όνομα: Output.txt</p>
                    <p class="example">{{examplein}}</p>
                    <p class="example">{{examplein4}}</p>
                    <p class="example">{{examplein1}}</p>
                    <ngx-file-drag-drop  activeBorderColor= "rgb(45, 89, 134)" (valueChanged)="onFileSelected($event)" type="file" id="file" [multiple]="true" emptyPlaceholder='Drop or Select File . . .' required> </ngx-file-drag-drop>
                </div>
            </div>
        </div>


        <div *ngIf='sel_exam_type === "exam-2"'>
            <div class="row">
                <div class="col-md mx-auto drest">
                    <p class="say1">Εισάγετε τα αποτελέσματα εξόδου που θα πρέπει να έχουν οι εξεταζόμενοι υπό μορφή αρχείου .txt</p>
                    <p class="example">{{examplein0}}</p>
                    <ngx-file-drag-drop  activeBorderColor= "rgb(45, 89, 134)" (valueChanged)="onFileSelected($event)" type="file" id="file" [multiple]="true" emptyPlaceholder='Drop or Select File . . .' required> </ngx-file-drag-drop>
                </div>
            </div>
        </div>


        <div *ngIf='sel_exam_type === "exam-3"'>
            <div class="row">
                <div class="col-md mx-auto drest">
                    <p class="say1">Με οποιαδήποτε σειρά</p>
                    <p class="say1">Εισάγετε τις επιλογές της εξετασης υπό μορφή αρχείου .cpp</p>
                    <p class="say1">Εισάγετε τα αποτελέσματα εξόδου που θα πρέπει να έχουν οι εξεταζόμενοι υπό μορφή αρχείου .txt</p>

                    <p class="example">{{examplein2}}</p>
                    <p class="example">{{examplein3}}</p>
                    <ngx-file-drag-drop  activeBorderColor= "rgb(45, 89, 134)" (valueChanged)="onFileSelected($event)" type="file" id="file" [multiple]="true" emptyPlaceholder='Drop or Select File . . .' required> </ngx-file-drag-drop>
                </div>
            </div>
        </div>

        <button class="button" (click)="onSubmit()" type="submit">Προσθήκη Εξέτασης</button>
    </div>
</body>
