.sbar {
    min-width: 88px;
    line-height: 30px;
    position: relative;
    width: 98px;
    text-align: center;
    background-color: rgb(0, 133, 0);
    border-color: rgb(255, 204, 102);
    border-radius: 12px;
    color: black;
    font-family: Courier, monospace;
    font-size: 1.075rem;
    font-weight: bold;
    outline: none;
    margin: 10px;
    float: left;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.45);
}

.sbar:hover {
    background-color: rgb(0, 200, 0);
    border-color: rgb(200, 150, 50);
}

.edit {
    max-width: 100%;

}

.errors {
    width: 100%;
    color: black;
    height: 240px;
    overflow: auto;
    border: 2px solid #232323;
    font-family: Courier, monospace;
    padding: 10px;
    background-color: rgb(166, 166, 166);
    box-shadow: inset 0 5px 8px #000000;
    font-weight: bold;
}

.sa{
    font-size: 1.175rem;
    font-weight: bold;
}


.err {
    height: 17.94rem;
    padding: 1.875rem;
    background-color: rgb(204, 204, 204);
    font-weight: bold;
    scrollbar-color: rgb(33, 37, 41) rgb(204, 204, 204);
}

.btn {
    position: relative;
    width: 6rem;
    line-height: 25px;
    text-align: center;
    margin: 10px;
    background-color: rgb(255, 204, 102);
    border-color: rgb(255, 204, 102);
    color: black;
    font-size: 1.175rem;
    font-weight: bold;
    font-family: Courier, monospace;
    z-index: 1;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.45);
}
.final{
    width: 7.1rem;
}
.submit {
    width: 6.1rem;
}

.time {
    position: relative;
    align-items: center;
    display: inline;
    font-size: 1.4rem;
    text-shadow: 1px 1px black;
    color: black;
    margin: 10px;
    top: 7px;
}
.head {
    background-color: rgb(204, 204, 204);  
}

.btn:hover {
    background-color: rgb(200, 150, 50);
    border-color: rgb(200, 150, 50);
}

.outp {
    font-weight: bold;
    white-space: pre-line;
}
