<div class="col-md head">
    <div class="time" *ngIf="(timeLeft | async) as tl">
        {{tl | aldFromMillis | aldToFormat:'hh:mm:ss'}}
    </div>
    <button (click)="toggleSidebar()" class="sbar">Εκφώνηση</button>
    <button *ngIf="!(examtype === 'exam-3')" (click)="onSubmit()"class="btn submit">Έλεγχος<i class="fas fa-sign-in-alt"></i></button>
    <button (click)="Ready()"class="btn final">Υποβολή<i class="fas-sign-in-alt"></i></button>
</div>
<div class="col-md edit">
    <ngx-codemirror [(ngModel)]="code" [options]="options" > </ngx-codemirror>
</div>
<div class="err">
    <div class="errors">
        <p class="sa">Λάθη του κώδικα :</p>
        <div class="error" *ngFor="let error of cerror">
            {{ error }}
        </div>
        <div class="outp"> 
            <p class="sa">Αποτελέσματα Εξόδου :</p>
            {{ coutp }}
        </div>
    </div>
</div>
<app-sidebar [@slideInOut]="sidebarState"></app-sidebar>
