.logt {
    background-color:  rgb(204, 204, 204); 
    min-height: 2.5rem;
}

.btnout{
    width: 100px;
    top: 20%;
    right: 5%;
    background-color: rgb(178,59,59);
    border-color: rgb(107,29,29);
    padding: 0.625rem;
    font-family: Courier, monospace;
    font-weight:bold;
    font-size: 1.150rem;
    position: relative;
    float: right;
    z-index: 1;
}

.btnout:hover{
    background-color: rgb(200,29,29);
    color: white;
}

.start{
    background-color: rgb(204, 204, 204);
    position: relative;
    text-align: center;
}

.state {
    color:black;
    font-size: 2.7rem;
    font-family:Courier, monospace; 
    font-weight:bold; 
    margin: 1.5rem;
    padding: 1rem;
}

.state2 {
    color:black;
    font-size: 1.7rem;
    font-family:Courier, monospace; 
    font-weight:bold; 
    padding-bottom: 1rem;

}

.btnstart {
    position: relative;
    font-size: 1.7rem;
    font-family: Courier, monospace;
    font-weight: bold;
    min-height:55px;
    color: black;
    max-width:155px;
    background-color: rgb(0, 143, 0);
    border-color: rgb(0, 143, 0);
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.45);
}

.btnstart:hover {
    background-color: rgb(0, 200, 0);
}

.te{
    position: relative;
    margin: 0;

}

.thetest {
    position: relative;
    max-width: 20rem;
    display: flex;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.45);
    border-radius: 14px;
    background: rgb(166, 166, 166);
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-family: Courier, monospace;
    font-weight:bold;
    color: #fff;
    transition: 0.3s;

}

.thetest:hover {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.36), 0 10px 12px rgba(0,0,0,0.85);
}

mark {
    background: inherit;
    color: rgb(153, 0, 0);
    text-shadow: 1px 1px black;
}

.det {
    margin: 0.3rem;
}

.detail {
    cursor: default;
    color: black;
    right: 0.5rem;
    margin: 0.3rem;
}

.alltest {
    width: 100%;
}

.alltest:empty {
    display:none;
}
