<div class="row te">
    <div class="col-md logt">
        <button (click)="Logout()" class="btn btnout">Έξοδος</button>
    </div>
</div>
<div class="row justify-content-md-center" style="margin:0;">
    <div class="col-md start">
        <label class="state">{{am}} Ετοιμάσου να ξεκινήσεις</label>
        <br><label class="state2">Επέλεξε μία εξέταση απο τις παρακάτω</label>
        <div class="container">
            <div class="row te">
                <div class="col alltest" *ngFor="let test of the_tests; let i = index;">
                    <div class="col-md mx-auto thetest" *ngIf="test.showexam && !fin[i].finished">
                        <mat-checkbox class="example-margin"
                                      [checked]="selected === i "
                                      (change)="selected = i"
                                      >
                                      <div class="row">
                                          <div class="col-md mx-auto detail">
                                              <p class="det"><mark>Όνομα Εξέτασης:</mark><br>{{test.exam_name}}</p>
                                              <p class="det"><mark>Τύπος Εξέτασης:</mark><br>{{test.exam_type}}</p>
                                          </div>
                                      </div>
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>

        <div class="row te">
            <div class="col-md but">
                <button (click)="Start(selected)" class="btn btnstart">Έναρξη Εξέτασης</button>
            </div>
        </div>
    </div>
</div>
